<section class="walkerDisplay">
  <header class="walkerDisplay__heading">
    <h2 class="walkerDisplay__heading__title"> Your walks </h2>
  </header>
  <form class=""action="/logout" method="post">
    <label for="logoutId"><input type="submit"  value="Log out" id='logoutId'></label>
  </form>

  <section class="walkerDisplay__pets-container">
      {{#each allWalks}}
        <div class="walkerDisplay__pet">
          <p class="walkerDisplay__pet__location"> Pickup location: {{postcode}}</p>
          <p class="walkerDisplay__pet__date"> Pickup date: {{walk_date}}</p>
          <p class="walkerDisplay__pet__time"> Pickup time: {{walk_time}}</p>
        </div>
      {{/each}}
    </section>
    <section class="walkerDisplay__newWalk-container">
        <form class="new-walk__form" action="/newWalk" method="post">
          <h1 class="new-walk__form__heading">Request a Walk</h1>
          <label for="newwalkpostcodeinput" class="new-walk__form__labels">Postcode<input type="text" name="newwalkpostcode" id="newwalkpostcodeinput" class="register-pet__form__inputs" required> </label>
          <label for="newwalkdateinput" class="new-walk__form__labels">Date<input type="date" name="newwalkdate" id="newwalkdateinput" class="new-walk__form__inputs" required> </label>
          <label for="newwalktimeinput" class="new-walk__form__labels">Time<input type="time" name="newwalktime" id="newwalktimeinput" class="new-pet__form__inputs" required> </label>
          <label for="newwalksubmit" class="new-walk__form__labels"><input type="submit" class="new-pet__form__input-button" value="submit"></label>
        </form>

  </section>
</section>
